/* Using global sytles is not recommended, prefer local styles via CSS Modules */

/*
 * box model like it should be
 *
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html { box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
 * kill document defaults margin & padding. We all do that all the time, right ?
 */
html,
body {
  margin: 0;
  padding: 0;
}

/*
 * page styles
 */
html {
  min-height: 100%;
  background: color(var(--colorPrimary) l(99%));
}

body {
  color: var(--colorText);
  font-size: 1rem;
  line-height: 1.5rem;

  /* system font https://medium.com/designing-medium/system-shock-6b1dc6d6596f */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/*
 * .phenomic-HeadingAnchor
 *
 * anchors for markdown headings, generated via markdown renderer, so require
 * global styling
 */
@custom-selector :--headings h1, h2, h3, h4, h5, h6;

:\--headings {
  position: relative;
}

:root {
  --phenomic-HeadingAnchor-width: 1.4rem;
  --phenomic-HeadingAnchor-margin: 0.4rem;
}

.phenomic-HeadingAnchor {
  display: inline-block;
  text-align: center;
  margin-left: calc(-1 * (var(--phenomic-HeadingAnchor-width) + var(--phenomic-HeadingAnchor-margin)));
  margin-right: var(--phenomic-HeadingAnchor-margin);
  width: var(--phenomic-HeadingAnchor-width);
  line-height: var(--phenomic-HeadingAnchor-width);
  text-decoration: none;
  opacity: 0.1;
  transition: opacity 0.2s;

  @nest :--headings:hover & {
    opacity: 1;
  }
}

/* minimal styling, prefer removing this and use local styles */
a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

hr {
  border: 0;
  height: 1px;
  background: var(--colorNeutral);
  opacity: 0.2;
  margin: 2rem 0;
}
/**
 * You can try all official Highlight.js theme here
 *
 * https://highlightjs.org/static/demo/
 *
 * More themes here
 *
 * https://github.com/isagalaev/highlight.js/tree/master/src/styles
 */

/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
._2Mf6m {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
:root {
  --nav-item-padding: 0.5rem;
}

._2gGRo {
  position: absolute;
  /* stretch */
  left: 0;
  right: 0;

  color: var(--colorNeutralLight);
}

._2frUm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: calc(var(--maxWidth) + (var(--nav-item-padding) * 2));
  margin: 0 auto;
  padding: 0;
  line-height: 3rem;
}

._37D8R,
._3VLYQ {
  display: flex;
  flex-direction: row;
}

.Ezg15 {
  display: flex;
  align-items: center;
  padding: 0 var(--nav-item-padding);
  color: inherit;
  text-decoration: none !important;
  opacity: 0.6;
  transition: 0.4s all;
  border-bottom: 1px solid transparent;

  &:hover,
  &:focus {
    color: inherit;
    opacity: 1;
    border-bottom-color: var(--colorNeutralLight);
  }
}

.Ezg15 svg {
  fill: currentColor;
  opacity: 0.5;
  margin-right: 0.5rem;
  width: 14px;
  height: 14px;
  vertical-align: middle;
}
._116Tm {
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
._1Ustb {
  text-align: center;
}

._21LuU {
  font-size: 0.75rem;
  opacity: 0.6;
  color: inherit;
  text-decoration: none;
}

.MMp-P {
  font-weight: 100;
}
._1mmZb {
  display: inline-flex;
  padding: 0 1rem;
  line-height: 2rem;
  font-weight: 100;
  text-align: center;
  border-radius: 3px;

  transition: .2s all;

  color: var(--colorPrimary);
  border: 1px solid var(--colorPrimary);
  background: color(var(--colorNeutralLight) a(0.2));

  &:hover {
    text-decoration: none;
    color: var(--colorPrimaryDark);
    border: 1px solid var(--colorPrimaryDark);
  }
}

._1w6mX {
  color: var(--colorSecondary);
  border: 1px solid var(--colorSecondary);

  &:hover {
    color: var(--colorSecondaryDark);
    border: 1px solid var(--colorSecondaryDark);
  }
}

._2zz8t {
  color: var(--colorNeutralLight);
  border: 1px solid var(--colorNeutralLight);

  &:hover {
    color: var(--colorNeutralLight);
    border: 1px solid var(--colorNeutralLight);
    background: color(var(--colorNeutralLight) a(0.3));
  }
}


._35BEo {
  font-size: 1.5rem;
  padding: 0 2rem;
  line-height: 3rem;
}
._1KhX5 {
  display: flex;
  height: 25vh;
  justify-content: center;
  align-items: center;
}

:root {
  --spinner-Color: #000;
  --spinner-Color-front: color(var(--spinner-Color) a(0.8));
  --spinner-Color-back: color(var(--spinner-Color) a(0.2));
}

._3i5XI {
  height: 5vh;
  min-height: 5rem;
  width: 5vh;
  min-width: 5rem;
  border: 6px solid var(--spinner-Color-back);
  border-top-color: var(--spinner-Color-front);
  border-radius: 100%;
  animation: _3H5Gy 0.6s infinite linear 0.25s;

  /* the opacity is used to lazyload the spinner, see animation delay */
  opacity: 0;
}

@keyframes _3H5Gy {
  from {
    opacity: 1;
    transform: rotate(0);
  }

  to {
    opacity: 1;
    transform: rotate(359deg);
  }
}
.sFWsg {
  display: flex;
  flex-direction: column;
}

.hOK0m {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  max-width: var(--maxWidth);
  padding: 1rem 0.75rem;
}

._3p2ZP {
  /* fallback, mainly visible when hero image is loading */
  background-color: var(--colorSecondary);
  /* fallback when there is no hero image */
  background:
    radial-gradient(
      ellipse at 50% 50%,
      color(var(--colorSecondary) l(+ 10%)) 15%,
      var(--colorSecondary) 70%
    );
}

._3wrxV {
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
  padding: 10vh 0;
  text-align: center;
  background: linear-gradient(
    to bottom,
    var(--colorPrimaryDark),
    color(var(--colorPrimary) a(0.2))
  );
}

._1Tkeg {
  color: var(--colorNeutralLight);
  text-shadow:
    0 0 10px var(--colorPrimaryDark),
    0 0 6px var(--colorNeutralDark),
    0 0 2px var(--colorNeutralDark)
  ;
  letter-spacing: 1px;
}

.mlJD2 {
  margin-top: 2rem;
}

._1z1n5 {
  margin: 1rem 0;
}

._30RKo {
  & a {
    color: var(--colorPrimary);
    transition: all 0.2s;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    &:hover {
      opacity: 1;
      color: color(var(--colorPrimary) l(- 5%));
      border-bottom-color: var(--colorPrimary);
    }
  }

  /* handy for content */
  & img {
    max-width: 100%;
  }
}
._1Zu4s {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  padding: 1rem 0;
}

._2vfNd {
  font-size: 4rem;
  line-height: 4rem;
  color: #ddd;
}

._3DufC {
  margin: 4rem 0;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}
._1eeKI {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: 1rem auto;
  padding: 1rem 0;
}

._2mH_g {
  align-self: center;
  font-size: 1.2rem;
  font-weight: 900;
}

._2l2N1 {
  font-size: 0.75rem;
  opacity: 0.6;
}

._1-sEy {
  font-size: 0.85rem;
}

.niUXw {
  /* align-self: center; */
  display: inline-flex;
  margin-top: 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  text-align: center;
  border-bottom: 0 !important;
  text-decoration: none !important;
}
.lfRQE {
  display: flex;
  flex-direction: column;

  list-style: none;
  padding: 0;
}
._1vSY4 {
  text-align: center;
}
._2BJ2- {
  display: flex;
  justify-content: center;
  opacity: 0.6;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
